<template>
  <component
    ref="nodeRef"
    v-if="resolver"
    :is="resolver.resolve(craftNode.componentName).component"
    v-bind="{ ...defaultProps, ...craftNode.props }"
    :class="{
      'fvc-node-selected': isSelected,
      'fvc-node': editor.enabled,
      'fvc-canvas': craftNodeIsCanvas(craftNode),
      'fvc-empty': craftNode.children?.length == 0,
      'fvc-other-node-dragged':
        editor.draggedNode &&
        !craftNodeIsAncestorOf(editor.draggedNode, craftNode),
    }"
    :draggable="isDraggable"
    @dragstart.stop="handleDragStart"
    @dragover.prevent.stop="handleDragOver"
    @drop.prevent.stop="handleDrop"
    @dragend.prevent.stop="handleDragEnd"
    @click.prevent.stop="craftNodeClick"
  >
    <CraftNodeEditor
      v-for="childNode in craftNode.children"
      :key="childNode.uuid"
      :craftNode="childNode"
    />
    <div v-if="craftNodeIsCanvas(craftNode) && !craftNode.children?.length">
      Drop a component here.
    </div>
  </component>
</template>
<script lang="ts">
export default {
  name: "CraftNodeEditor",
};
</script>
<script setup lang="ts">
import { computed, ComputedRef, inject, ref, watchEffect } from "vue";
import useConnectCraftNodeToStore from "../hooks/useConnectCraftNodeToStore";
import useDragCraftNode from "../hooks/useDragCraftNode";
import {
  CraftNode,
  craftNodeIsAncestorOf,
  craftNodeIsCanvas,
} from "../lib/craftNode";
import CraftNodeResolver from "../lib/CraftNodeResolver";
import { useEditor } from "../store/editor";

const props = defineProps<{
  craftNode: CraftNode;
}>();

const resolver = inject<ComputedRef<CraftNodeResolver>>("resolver");
const editor = useEditor();
const nodeRef = ref<any>(null);

const { isSelected, isDraggable, selectNode } = useConnectCraftNodeToStore(
  props.craftNode,
  nodeRef
);

const { handleDragStart, handleDragOver, handleDrop, handleDragEnd } =
  useDragCraftNode(props.craftNode, nodeRef);

const defaultProps = computed(() => {
  if (!resolver) return {};
  return resolver.value.resolve(props.craftNode.componentName).defaultProps;
});

const nodeName = computed(
  () =>
    `"${resolver?.value?.resolveNode(props.craftNode)?.component || "Unknown"}"`
);

const craftNodeClick = () => {
  selectNode();
};
</script>

<style lang="scss" scoped>
.fvc-node {
  position: relative;
  transition: padding 0.125s ease;
  cursor: pointer;
}

.fvc-node::after {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 0px 0px transparent;
}
.fvc-node:hover::before,
.fvc-node-selected::before {
  opacity: 0.4;
  position: absolute;
  border: 1px solid var(--fk-color-border-focus);
  color: var(--fk-color-button);
  background-color: var(--fk-color-border-focus);
  font-family: var(--fk-font-family-label);
  font-size: var(--fk-font-size-label);
  font-weight: var(--fk-font-weight-label);
  line-height: var(--fk-line-height-label);
  height: 1.55em;
  bottom: -1.55em;
  padding: 0 0.25em;
  content: v-bind(nodeName);
  text-transform: lowercase;
  pointer-events: none;
}
.fvc-node:hover::after,
.fvc-node-selected::after {
  position: absolute;
  border: 1px solid var(--fk-color-border-focus);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  text-transform: lowercase;
  content: " ";
  z-index: -1;
  pointer-events: none;
}

.fvc-node.fvc-canvas.fvc-empty {
  background-color: #fff9e5;
  padding: 0.75em;
  border: 0.25em dashed #ffcc00;
}

.fvc-node.fvc-canvas.fvc-other-node-dragged {
  background-color: #fff9e5;
  padding: 0.75em;
  border: 0.25em dashed #ffcc00;
}
</style>
