<template>
  <li
    class="fvc-node-layer"
    @click.prevent.stop="emit('layer-click', craftNode)"
  >
    <span class="fvc-component-name">
      <FontAwesomeIcon :icon="icon" @click.prevent.stop="iconClick" />
      {{ componentName }}
    </span>
    <ul class="fvc-craftNode-layers" v-if="craftNode.children?.length">
      <CraftEditorPandelNodeLayer
        v-for="(n, index) in craftNode.children"
        :key="index"
        :craftNode="n"
        @layer-click="() => emit('layer-click', n)"
        :visible="visible"
      />
    </ul>
  </li>
</template>
<script lang="ts">
export default {
  name: "CraftEditorPandelNodeLayer",
};
</script>
<script lang="ts" setup>
import { faEye, faEyeSlash } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { storeToRefs } from "pinia";
import { computed, ref, watch, watchEffect } from "vue";
import { CraftNode } from "../lib/craftNode";
import { craftNodeIsCanvas } from "../lib/craftNode";
import { useEditor } from "../store/editor";

const props = withDefaults(
  defineProps<{
    craftNode: CraftNode;
    visible?: boolean;
  }>(),
  { visible: true }
);

const visible = ref(props.visible);
const editor = useEditor();
const icon = computed(() => (visible.value ? faEye : faEyeSlash));
const { getRef } = storeToRefs(editor);

const iconClick = () => {
  visible.value = !visible.value;
};

watch(
  () => ({ visible: visible.value }),
  ({ visible }) => {
    const ref = getRef.value(props.craftNode.uuid);
    if (!ref || !ref.style) {
      return;
    }

    ref.style.display = visible ? "block" : "none";
  }
);

const emit = defineEmits<{
  "layer-click": (craftNode: CraftNode) => void;
}>();

const componentName = craftNodeIsCanvas(props.craftNode)
  ? `${props.craftNode.componentName} (${props.craftNode.props.component})`
  : props.craftNode.componentName;
</script>
