<template>
  <div class="fvc-panel fvc-actions-panel">
    <div class="fvc-action" v-for="(action, index) in actions">
      <FontAwesomeIcon
        :key="index"
        :icon="action.icon"
        @click="emit('action-click', { action, editor })"
      />
    </div>
  </div>
</template>
<script lang="ts" setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { CraftEditorAction, CraftEditorActionPayload } from "../lib/model";
import { useEditor } from "../store/editor";

const props = defineProps<{
  actions: CraftEditorAction[];
}>();

const editor = useEditor();

const emit = defineEmits<{
  "action-click": (payload: CraftEditorActionPayload) => void;
}>();
</script>
<style lang="scss" scoped>
@import "../assets/panel";

.fvc-actions-panel {
  justify-content: right;
  flex-direction: row;
}

.fvc-action {
  cursor: pointer;
  margin-right: 0.5em;
  font-size: 1.5em;
  color: #909090;
  transition: color 0.3s ease;
  display: inline-block;
  :hover {
    color: #333;
  }
}
</style>
