<template>
  <div class="fvc-panel-manager">
    <div class="fvc-grid-panel fvc-panel-left">
      <CraftEditorPanelBlueprints :blueprints="blueprints" @closeClick="" />
    </div>
    <div class="fvc-grid-panel fvc-panel-top">
      <CraftEditorPanelActions
        :actions="actions"
        @action-click="(e) => emit('action-click', e)"
      />
    </div>
    <div class="fvc-panel-center"><slot></slot></div>
    <div class="fvc-grid-panel fvc-panel-right">
      <CraftEditorPanelSettings />
      <CraftEditorPanelLayers />
    </div>
    <div class="fvc-grid-panel fvc-panel-bottom"></div>
  </div>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { CraftNode } from "../lib/craftNode";
import { CraftEditorAction, CraftEditorActionPayload } from "../lib/model";

const props = defineProps<{
  blueprints: CraftNode[];
  actions: CraftEditorAction[];
}>();

const topRowHeight = computed(() => 0.3);
const topRowTranslate = computed(() => 90);

const emit = defineEmits<{
  "action-click": (payload: CraftEditorActionPayload) => void;
}>();
</script>
<style lang="scss" scoped>
.fvc-panel-manager {
  --shadow-alpha: 0.8;
  background-color: #555555;
  display: grid;
  overflow: hidden;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: calc(1fr * v-bind(topRowHeight)) 2.4fr 0.3fr;
  gap: 0px 1em;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  position: relative;
  max-width: 100%;

  &:deep(.fvc-grid-panel) {
    background-color: #bbb;
    padding: 0.5em;
    z-index: 9;
  }

  &:deep(.fvc-panel-left) {
    grid-area: left;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, var(--shadow-alpha));
  }

  &:deep(.fvc-panel-top) {
    grid-area: top;
    position: absolute;
    width: 100%;
    transform: translateY(calc(-1% * v-bind(topRowTranslate)));
    transition: transform 0.3s ease, border-bottom-width 0.3s ease;
    border-bottom: 0.5em solid #333;
    &:hover {
      box-shadow: 0px 0px 0.5em rgba(0, 0, 0, var(--shadow-alpha));
      transform: translateY(calc(0% * v-bind(topRowTranslate)));
      border-bottom-width: 0.3em;
    }
    z-index: 10;
  }

  &:deep(.fvc-panel-center) {
    grid-area: center;
    background-color: #fefefe;

    margin: 1em;
    box-shadow: 0px 0em 0.5em rgba(0, 0, 0, calc(0.8 * var(--shadow-alpha)));
    overflow: auto;
  }

  &:deep(.fvc-panel-right) {
    grid-area: right;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, var(--shadow-alpha));
  }

  &:deep(.fvc-panel-bottom) {
    grid-area: bottom;
    position: absolute;
    transform: translateY(calc(1% * v-bind(topRowTranslate)));
  }
}
</style>
