<template>
  <component
    ref="nodeRef"
    v-if="resolver"
    :is="resolver.resolve(craftNode.componentName).component"
    v-bind="{ ...defaultProps, ...craftNode.props }"
  >
    <CraftNodeViewer
      v-for="childNode in craftNode.children"
      :key="childNode.uuid"
      :craftNode="childNode"
    />
  </component>
</template>
<script lang="ts">
export default {
  name: "CraftNodeViewer",
};
</script>
<script lang="ts" setup>
import { ComputedRef, inject, watchEffect, computed } from "vue";
import { CraftNode } from "../lib/craftNode";
import CraftNodeResolver from "../lib/CraftNodeResolver";

const props = defineProps<{
  craftNode: CraftNode;
}>();

const resolver = inject<ComputedRef<CraftNodeResolver>>("resolver");

const defaultProps = computed(() => {
  if (!resolver) return {};
  return resolver.value.resolve(props.craftNode.componentName).defaultProps;
});
</script>
