<template>
  <div
    v-if="indicator.isShown"
    class="fvc-indicator"
    :class="{ 'fvc-forbidden': indicator.isForbidden }"
    :style="getIndicatorStyle()"
  />
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { useIndicator } from "../store/indicator";
export default defineComponent({
  name: "CraftDropIndicator",
});
</script>
<script lang="ts" setup>
const indicator = useIndicator();

const getIndicatorStyle = () => {
  const { top, left } = indicator.position;
  const { width, height } = indicator.size;

  const style = {
    top: `${top}px`,
    left: `${left}px`,
    height: `${height}px`,
    width: `${width}px`,
  };

  return style;
};
</script>

<style lang="scss" scoped>
.fvc-indicator {
  position: fixed;
  background-color: rgb(15, 177, 88);
  transition: top 0.125s ease, left 0.125s ease, right 0.125s ease,
    bottom 0.125s ease, width 0.125s ease, height 0.125s ease,
    background-color 0.125s ease-in-out;

  z-index: 10000;

  &:after {
    content: " ";
  }

  &.fvc-forbidden {
    background-color: rgb(255, 24, 93);
  }
}
</style>
