<template>
  <fieldset
    class="formkit-fieldset"
    v-if="craftNode && craftNode.props && schema"
  >
    <legend class="formkit-legend">Properties</legend>
    <FormKit
      type="form"
      :actions="false"
      @submit.stop.prevent="() => false"
      :value="craftNodeProps"
      @input="onCraftNodePropsChange"
    >
      <FormKitSchema :schema="schema" />
      <FormKit
        v-if="craftNode"
        type="hidden"
        :value="craftNode.uuid"
        name="uuid"
      />
    </FormKit>
  </fieldset>
</template>
<script lang="ts" setup>
import { FormKitSchemaNode } from "@formkit/core";
import _ from "lodash";
import { ref, watch } from "vue";
import { CraftNode } from "../lib/craftNode";
import { useEditor } from "../store/editor";

const props = withDefaults(
  defineProps<{
    craftNode?: CraftNode;
    schema?: FormKitSchemaNode[];
  }>(),
  { schema: [] as any }
);

const craftNodeProps = ref(props.craftNode?.props || {});
const editor = useEditor();

const onCraftNodePropsChange = (value) => {
  const { uuid } = value;
  
  if (
    !props.craftNode ||
    !value ||
    uuid !== props.craftNode.uuid ||
    !editor.nodeRecord[uuid] ||
    _.isEqual(value, editor.nodeRecord[uuid].props)
  ) {
    return;
  }

  editor.nodeRecord[uuid].props = value;
};

watch(
  () => props.craftNode?.props || {},
  (value) => {
    craftNodeProps.value = value;
  }
);
</script>
