<template>
  <div class="fvc-panel fvc-blueprints-panel">
    <FontAwesomeIcon
      :icon="faXmarkCircle"
      class="fvc-close-icon"
      @click.prevent.stop="emit('close')"
    />
    <h3 class="fvc-title">blueprints</h3>
    <CraftEditorBlueprint
      v-for="(craftNode, key) in blueprintsWithDefaults"
      :craftNode="craftNode"
      :key="key"
    >
      <div class="fvc-blueprint">
        <div class="fvc-label">
          {{ craftNode.label }}
        </div>
      </div>
    </CraftEditorBlueprint>
  </div>
</template>
<script lang="ts" setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faXmarkCircle } from "@fortawesome/free-solid-svg-icons";
import { Blueprints } from "../lib/model";
import { inject, ComputedRef, computed } from "vue";
import CraftNodeResolver from "../lib/CraftNodeResolver";
import { CraftNode } from "../lib/craftNode";

const props = defineProps<{
  blueprints: Blueprints;
}>();

const resolver = inject<ComputedRef<CraftNodeResolver>>("resolver");

const blueprintsWithDefaults = computed(() => {
  if (!resolver?.value) return [];
  const returnVal: any[] = [];
  Object.keys(props.blueprints).forEach((key) => {
    const blueprint = props.blueprints[key];
    const defaultProps = resolver.value.getDefaultProps(blueprint as CraftNode);
    blueprint.props = { ...defaultProps, ...blueprint.props };
    returnVal.push(blueprint);
  });

  return returnVal;
});

const emit = defineEmits<{
  (event: "close", ...args: any[]): void;
}>();
</script>
<style lang="scss" scoped>
@import "../assets/panel";

.fvc-blueprint {
  cursor: grab;
  overflow: hidden;
  border-radius: 0.3em;
  border: 1px solid #666;
  background-color: #ffffff;
  margin-bottom: 0.75em;
  position: relative;
  transition: border 0.3s ease-in-out, color 0.3s ease;
  font-size: 1.2em;
  padding: 0.15em 1em 0em 1em;
  text-align: center;
  color: #909090;
  height: 1.75em;
}

.fvc-blueprint:hover {
  border-color: #333;
  color: #606060;
}
.svg-inline--fa {
  display: inline-block;
  height: 1.125em;
  margin-right: 0.25em;
  margin-bottom: -0.025em;
}

.fvc-label {
  display: inline-block;
}
</style>
