<template>
  <div class="fvc-panel fvc-layers-panel">
    <h3 class="fvc-title">layers</h3>
    <div class="fvc-layers">
      <ul class="fvc-node-layers">
        <CraftEditorPanelNodeLayer
          v-for="(craftNode, key) in nodes"
          :key="key"
          :craftNode="craftNode"
          @layer-click="layerClick"
        />
      </ul>
    </div>
  </div>
</template>
<script lang="ts">
export default {
  name: "CraftEditorPanelLayers",
};
</script>
<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useEditor } from "../store/editor";

const editor = useEditor();
const { nodes } = storeToRefs(editor);

const layerClick = (craftNode) => {
  editor.selectNode(craftNode);
};
</script>
<style lang="scss" scoped>
@import "../assets/panel";
ul.fvc-node-layers {
  margin: 0;
  padding: 0 !important;
  cursor: pointer;

  &:deep(ul.fvc-node-layers) {
    padding-left: 0;
  }

  &:deep(li.fvc-node-layer) {
    display: block;
    padding: 0.25em 0.25em;
    margin: 0;

    background-color: #fefefe;

    list-style-type: none !important;
    border: 1px solid #555;
  }
}

div.fvc-layers {
  padding: 0.25em;
  border: 1px solid #333;
  padding: 0.5em;
}
</style>
