.fvc-panel {
  background-color: #bbb;
  color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  height: auto;
  justify-content: left;
  position: relative;
  padding: 0.5em;

  h3,
  h4 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    color: rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
  }

  .fvc-title {
    color: #555;
    font-size: 1.2em;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 0.55em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: color 0.3s ease;
    display: block;
  }
  .fvc-delete.formkit-input {
    background-color: var(--fk-color-danger);
  }

  .fvc-close-icon {
    cursor: pointer;
    color: #666;
    :hover {
      color: #333;
    }
    position: absolute;
    right: 0.5em;
    top: 0.75em;
  }
}
