<template>
  <CraftEditor :config="config" @action-click="onAction">
    <CraftCanvas component="CraftComponentSimpleContainer"> </CraftCanvas>
  </CraftEditor>
</template>
<script lang="ts" setup>
import {
  CraftEditorActionPayload,
  CraftEditorConfig,
  useEditor,
} from "@faasaf/v-craft";
import { fas } from "@fortawesome/free-solid-svg-icons";
import { resolverMap } from "./resolvermap";
import { blueprints } from "./blueprints";

const editor = useEditor();
editor.enable();

const onAction = (payload: CraftEditorActionPayload) => {
  if (payload.action.key === "export") {
    alert(JSON.stringify(payload.editor.nodes));
  }
};

const config: CraftEditorConfig = {
  blueprints,
  resolverMap,
  actions: [
    {
      label: "Export",
      icon: fas.faDownload,
      key: "export",
    },
  ],
};
</script>
